/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
.cabecalho {
    margin-bottom: 60px;
    text-align: center;
}

.logotipo {
    height: 60px;
    width: 190px;
    margin: 0 auto;
}

/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
}

/* Main Content */
.main {
    flex: 1;
    padding: 20px;
}

.grid {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    margin-top: -55ch;
    margin-left: -2ch;
}

.grid img {
    max-width: 100%;
    margin: 10px 0;
}

/* Video */
.video {
    margin: 30px auto;
    width: 100%;
    height: auto;
    max-width: 60%;
}

/* Rodapé */
.rodape {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.text-custom-primary {
    color: #0008f9; /* Azul padrão do Bootstrap */
}

.text-custom-success {
    color: #198754; /* Verde de sucesso do Bootstrap */
}

.logoroda {
    height: 25%;
    width: 40%;
    text-align: left;
}